<h2 class="title" mat-dialog-title>{{ isSignUp ? 'Registrazione' : 'Login' }}</h2>

<form [formGroup]="authForm" (ngSubmit)="isSignUp ? onRegister() : onLogin()" [@formTransition]="isSignUp ? 'signup' : 'login'">
    <mat-dialog-content class="dialog-content">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Inserisci la tua email">
            <mat-error
                       *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched">
                Email non valida (formato accettato)
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Inserisci la tua password">
            <mat-error
                       *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
                La password è obbligatoria
            </mat-error>
        </mat-form-field>

        <ng-container *ngIf="isSignUp">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Conferma Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password"
                       placeholder="Conferma la tua password">
                <mat-error *ngIf="authForm.hasError('passwordMismatch')">
                    Le password non coincidono
                </mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="firstName" type="text" placeholder="Inserisci il tuo nome (min 3 caratteri)">
                <mat-error
                           *ngIf="authForm.get('firstName')?.invalid && authForm.get('firstName')?.touched">
                    Nome obbligatorio (min 3 caratteri)
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Cognome</mat-label>
                <input matInput formControlName="lastName" type="text" placeholder="Inserisci il tuo cognome (min 3 caratteri)">
                <mat-error
                           *ngIf="authForm.get('lastName')?.invalid && authForm.get('lastName')?.touched">
                    Cognome obbligatorio (min 3 caratteri)
                </mat-error>
            </mat-form-field>
        </ng-container>
    </mat-dialog-content>

    <ng-container *ngIf="!isLoading">
        <mat-dialog-actions align="center" *ngIf="!isSignUp">
            <button mat-button type="button" (click)="onCancel()">Annulla</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">Login</button>
        </mat-dialog-actions>

        <mat-dialog-actions align="center" *ngIf="isSignUp">
            <button mat-button type="button" (click)="onCancel()">Annulla</button>
            <button mat-raised-button color="accent" type="submit" [disabled]="authForm.invalid">Registrati</button>
        </mat-dialog-actions>
    </ng-container>
</form>

<ng-container *ngIf="!isLoading; else spinner">
    <div class="divider">OR</div>

    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="toggleSignUp()">
            {{ isSignUp ? 'Hai già un account? Login' : 'Registrati' }}
        </button>
    </mat-dialog-actions>
</ng-container>

<ng-template #spinner>
    <div class="spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
</ng-template>
