<div class="table-container">
    <div class="filters-bar">
        <!-- <mat-form-field appearance="outline" class="search-bar">
            <mat-label>Cerca</mat-label>
            <input matInput (input)="applyFilter($event)" placeholder="Inserisci nome cliente...">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> -->

        <mat-expansion-panel class="filter-panel">
            <mat-expansion-panel-header>
                <mat-panel-title> Filtri Avanzati </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-options">
                <mat-form-field appearance="outline">
                    <mat-label>Service Type</mat-label>
                    <mat-select [(ngModel)]="filters.serviceName">
                        <mat-option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="filters">
                        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-slide-toggle [(ngModel)]="filters.isPaid">Pagato</mat-slide-toggle>
            </div>

            <mat-action-row>
                <button mat-button color="primary" (click)="applyAdvancedFilter()">Applica Filtri</button>
                <button mat-button color="warn" (click)="clearFilters()">Reset Filtri</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="serviceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</th>
            <td mat-cell *matCellDef="let element">{{ element.serviceName }}</td>
        </ng-container>

        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
            <td mat-cell *matCellDef="let element">{{ element.customerFirstName + ' ' + element.customerLastName }}</td>
        </ng-container>

        <ng-container matColumnDef="isPaid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Paid</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon color="{{ element.isPaid ? 'primary' : 'warn' }}">
                    {{ element.isPaid ? 'check_circle' : 'cancel' }}
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Azioni</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(element)">
                        <mat-icon>edit</mat-icon> Modifica
                    </button>
                    <button mat-menu-item (click)="onConfirmPayment(element)">
                        <mat-icon>payment</mat-icon> Conferma Pagamento
                    </button>
                    <button mat-menu-item (click)="onDelete(element)" class="delete-option">
                        <mat-icon>delete</mat-icon> <span class="delete-text">Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
