.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 64px;
    max-height: 64px;

    .logo-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .logo {
            height: 50px;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .logo-container {
        justify-content: flex-start;
    }

    .user-info {
        flex-direction: row;

        span {
            display: none;
        }
    }
}
