<mat-toolbar color="primary" class="navbar">

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </button>
        <button mat-menu-item routerLink="/about">
            <mat-icon>info</mat-icon>
            About Us
        </button>
        <button mat-menu-item routerLink="/services">
            <mat-icon>build</mat-icon>
            Services
        </button>
        <button mat-menu-item routerLink="/contact">
            <mat-icon>contacts</mat-icon>
            Contact
        </button>
    </mat-menu>

    <div class="logo-container">
        <img src="assets/booking_logo.png" alt="Site Logo" class="logo">
    </div>

    <div class="user-info">
        <ng-container *ngIf="!isLogged; else loggedInfo">
            <button mat-raised-button color="accent" (click)="openLoginDialog()">Login</button>
        </ng-container>
        <ng-template #loggedInfo>
            <span>{{ user.name }}</span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <img [src]="user.profileImage" alt="User Avatar" class="avatar">
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    Profile
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </ng-template>
    </div>

</mat-toolbar>
