<mat-card>
    <mat-card-header>
        <mat-card-title matTooltip="{{ item.name }}">
            <div class="truncate-text">
                {{ item.name }}
            </div>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.images[0]" alt="{{ item.name }}">
    <mat-card-content>
        <p style="font-weight: 600;">
            {{ item.type }}
        </p>
        <p><strong>&euro;{{ item.pricePerNight }}</strong> / notte</p>
        <p matTooltip="{{ item.description }}" class="truncate-text">
            {{ item.description }}
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="onNavigateToDetails()">Dettagli</button>
    </mat-card-actions>
</mat-card>
