<mat-toolbar color="primary">
    <span>Gestione Servizi</span>
    <button mat-raised-button color="accent" (click)="openPanel(true)">
        <mat-icon>add</mat-icon> Crea Servizio
    </button>
</mat-toolbar>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo di Stanza</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titolo della Stanza</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="totalRooms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Totale Stanze</th>
            <td mat-cell *matCellDef="let element">{{ element.totalRooms }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Azioni</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openPanel(false, element)">
                        <mat-icon>edit</mat-icon> Modifica
                    </button>
                    <button mat-menu-item (click)="onViewRoom(element)">
                        <mat-icon>remove_red_eye</mat-icon> Visualizza
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
