.room-details-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .title {
        text-transform: capitalize;
    }

    .room-header {
        h1 {
            text-transform: capitalize;
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .location {
            display: flex;
            align-items: center;
            color: #757575;

            mat-icon {
                margin-right: 5px;
            }
        }
    }

    .room-carousel {
        width: 100%;
        max-height: 500px;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
    }

    .room-content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;

        .room-info {
            flex: 1;
            min-width: 300px;

            .info-section {
                display: flex;
                flex-direction: column;
                padding-bottom: 15px;
            }

            h2 {
                text-transform: capitalize;
                margin-bottom: 10px;
                font-size: 1.8rem;
            }

            p {
                line-height: 1.6;
                color: #424242;
            }

            .room-amenities {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                mat-chip {
                    font-size: 16px;
                    background-color: #e0f7fa;
                    color: #00796b;

                    .mdc-evolution-chip__text-label {
                        display: flex;
                        align-items: center;

                        mat-icon {
                            padding-right: 5px;
                        }
                    }
                }
            }

            .room-details {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    mat-icon {
                        margin-right: 10px;
                        color: #607d8b;
                    }
                }
            }
        }

        .room-booking {
            flex: 1;
            min-width: 350px;

            .booking-card {
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

                h2 {
                    margin-bottom: 20px;
                    font-size: 1.8rem;

                    span {
                        font-size: 1rem;
                        color: #757575;
                    }
                }

                mat-form-field {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }

            .availability-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                margin-top: 10px;


                button {
                    width: 100%;
                    font-size: 18px;
                    padding: 15px 0;
                }

                .available {
                    color: green;
                    font-weight: bold;
                }

                .not-available {
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }
}
